{% extends "common.twig" %}
{% import _self as _s %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="res/res/main.less"/>
{% endblock %}

{% block js %}
    <script type="module" src="res/res/main.js"></script>
{% endblock %}

{% block name %}
    {{ local.project.projects|capitalize }}
{% endblock %}

{% block actions %}
    <button class="cm-add h-full flex px-4 cursor-pointer duration-75" title="{{ local.project.add }}">
        <i class="my-auto fas fa-plus"></i>
    </button>
{% endblock %}

{% block main %}
    <div id="cm-projects" class="container mx-auto px-3 flex justify-center flex-wrap">
        {{ _s.project() }}
        {% for project in projects %}
            {{ _s.project(project) }}
        {% endfor %}
    </div>

    <div id="cm-new-project" class="cm-wp fixed inset-0">
        <div class="flex w-screen h-screen bg-gray-800 bg-opacity-0">
            
            <div class="cm-panel m-auto bg-white flex flex-col p-5 rounded opacity-0 duration-200">
                <div class="cursor-pointer flex justify-end">
                    <div class="cm-action-close hover:text-gray-500 duration-75 p-1">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                
                <span class="text-2xl absolute">{{ local.project.new|capitalize }} </span>
                
                <form class="flex flex-col mb-0" method="post" action="res/res/post.php">
                    <input name="m" type="hidden" value="add"/>
                    
                    <input name="name" required="required" class="mt-6 mb-2 px-2 py-2 border _border-transparent
                        focus:outline-none focus:ring-2 focus:ring-grey-600 focus:border-transparent placeholder-grey-400" 
                        placeholder="{{ local.name }}"
                        oninvalid="this.setCustomValidity('{{ local.requiredField }}')" oninput="setCustomValidity('')"
                    />
                    
                    <input name="path" type="text" required="required" class="mt-2 mb-6 px-2 py-2 border _border-transparent 
                        focus:outline-none focus:ring-2 focus:ring-grey-600 _focus:border-transparent placeholder-grey-400" 
                        placeholder="{{ local.path }}"
                        oninvalid="this.setCustomValidity('{{ local.requiredField }}')" oninput="setCustomValidity('')"
                    />
                    
                    <div class="flex">
                        <button class="mx-auto py-2 px-6 bg-green-300 text-white font-semibold rounded-sm shadow-md hover:bg-green-500 focus:outline-none duration-75">{{ local.add|capitalize }}</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}

{% macro project(data) %}
    <a{% if data.name is not defined %} id="cm-project-template"{% endif %}
        href="{{ constant('CM_WHOME') }}project/{{ data.name }}"
        class="cm-project m-2 cursor-pointer bg-gray-200 rounded flex flex-col"
        onclick="event.preventDefault()"
        ondblclick="document.location=this.href"
        data-name="{{ data.name }}"
    >
        <div class="bg-gray-300 flex p-1 rounded-t">
            <div class="cm-name truncate" title="{{ data.name }}">
                {{ data.name }}
            </div>
            <div class="cm-action-del text-white hover:text-gray-600 duration-75 py-1 px-2 mr-0 ml-auto">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="cm-spinner flex flex-grow">
            <i class="m-auto text-gray-300 fas fa-4x fa-spin fa-spinner"></i>
        </div>
        <div class="cm-info px-1 py-3 flex flex-col overflow-hidden">
            <div class="cm-chart bg-gray-300 h-6 flex flex-none"></div>
            <div class="cm-table overflow-y-auto flex flex-col flex-wrap justify-start mt-2">
                <div class="cm-template px-3 text-sm">
                    <span class="cm-color"><i class="fas fa-circle"></i></span>
                    <span class="cm-type font-bold"></span>
                    <span class="cm-value"></span>%
                </div>
            </div>
        </div>
    </a>
{% endmacro %}