{% extends "common.twig" %}

{# --- --- --- --- --- --- --- --- --- --- #}
{% block name %}{{ project }}{% endblock %}

{# --- --- --- --- --- --- --- --- --- --- #}
{% block nameTitle %}{{ project }}{% endblock %}

{# --- --- --- --- --- --- --- --- --- --- #}
{% block style %}
    <link rel="stylesheet/less" type="text/css" href="res/res/project.less"/>
{% endblock %}

{# --- --- --- --- --- --- --- --- --- --- #}
{% block js %}
    <script type="text/javascript" src="res/jquery.com/plugin/jquery-resizable.js"></script>
    <script type="text/javascript" src="res/rosettacode.org/LZW.js"></script>
    
    <script type="text/javascript" src="res/ace.c9.io/1.4.12/src-min/ace.js"></script>
    <script type="text/javascript" src="res/ace.c9.io/1.4.12/src-noconflict/ext-language_tools.js"></script>
    <script type="text/javascript" src="res/ace.c9.io/1.4.12/src-noconflict/ext-emmet.js"></script>
    <script type="text/javascript" src="res/ace.c9.io/emmet.js"></script>
    
    <script type="module" src="res/res/project.js"></script>
{% endblock %}

{# --- --- --- --- --- --- --- --- --- --- #}
{% block actions %}
    <button type="button" class="cm-save h-full flex px-2 py-2 cursor-pointer _hover:bg-gray-500 duration-75" title="{{ local.project.save }}" disabled1="disabled1">
        <i class="my-auto fas fa-save"></i>
    </button>
    <button type="button" class="cm-expand h-full flex px-2 py-2 cursor-pointer _hover:bg-gray-500 duration-75" title="{{ local.project.save }}" disabled1="disabled1">
        <i class="my-auto fas fa-expand"></i>
    </button>
{% endblock %}

{# --- --- --- --- --- --- --- --- --- --- #}
{% block main %}
    {% import _self as _s %}

    <div id="cm-ide" class="cm-project bg-white _container mx-auto flex h-full" data-project="{{ project }}">
        
        <div class="cm-ide-direct w-11 flex flex-col bg-gray-600 text-white">
            <i class="cm-action-tree fas fa-sitemap _p-3 _hover:bg-gray-300 _hover:text-gray-500 _duration-75" title="{{ local.project.tree }}"></i>
            <i class="fas fa-user-friends _p-3 _hover:bg-gray-300 _hover:text-gray-500 _duration-75"></i>
        </div>
        
        <div class="cm-ide-tree bg-gray-700 text-white pb-2 _px-3 duration-75 overflow-y-auto w-52">
            <div class="cm-control mb-2 bg-gray-400 _h-10">
                <i class="cm-add fas fa-plus p-2 hover:bg-gray-300 hover:text-gray-500 duration-75"></i>
            </div>
            {{ _s.node() }}
            {{ _s.tree(tree) }}
        </div>
        
        <div class="cm-splitter w-1"></div>
        {#<div class="flex-auto bg-green-500">332e3e3/</div>#}
        
        <div class="cm-ide-ace flex-1 min-w-0 flex flex-col">
            <div class="cm-header h-10 bg-gray-400 text-white flex">
                <div class="cm-text px-2 my-auto truncate text-left"></div>
            </div>
            <div class="cm-container overflow-x-auto flex-1 flex">
                <div {#id="cm-ace-template"#} class="cm-template cm-ace flex-1"></div>
            </div>
        </div>
    </div>
    
    <div id="cm-list" class="inset-0 absolute flex _bg-gray-400 _bg-opacity-70 cm-noselect">
        <div class="cm-container flex flex-col w-max mx-auto mt-10 border border-gray-300 overflow-y-auto bg-gray-100">
            <div class="cm-template cm-element flex duration-100">
                <i class="cm-close fas fa-times text-gray-400 text-xs mr-0 ml-3 my-auto cursor-pointer duration-100"></i>
                <i class="cm-push fas fa-thumbtack text-gray-400 text-xs mr-0 ml-5 my-auto cursor-pointer duration-100"></i>
                <span class="cm-text ml-0 mr-auto truncate"></span>
            </div>
        </div>
    </div>
{% endblock %}

{# --- --- --- --- --- --- --- --- --- --- #}
{% block current %}
    <div id="cm-current" class="flex-grow flex min-w-0">
        <div class="cm-left w-6 ml-auto text-center cursor-pointer _duration-150 hover:bg-gray-300 hover:text-gray-500 flex flex-none">
            <i class="fas fa-caret-left text-xl m-auto"></i>
        </div>
        <div class="cm-container min-w-0 cursor-pointer flex hover:bg-gray-300 hover:text-gray-500">
            <div class="cm-text my-auto px-4 min-w-0 whitespace-nowrap truncate text-left"></div>
        </div>
        <div class="cm-right w-6 mr-auto text-center cursor-pointer _duration-150 hover:bg-gray-300 hover:text-gray-500 flex flex-none">
            <i class="fas fa-caret-right text-xl m-auto"></i>
        </div>
    </div>
{% endblock %}

{# --- --- --- --- --- --- --- --- --- --- #}
{% macro node(node) %}
    {% import _self as _s %}

    {% if node %}
            
        <li data-hid="{{ node.hid }}"
            {% if node.type=='folder' %}
                data-status="{% if node.children is defined and node.children|length %}1{% else %}0{% endif %}"
            {% endif %}
        >
            <div class="cm-line px-3 _truncate whitespace-nowrap" title="{{ node.names }}">
                {% for i in range(0,node.level) if i>0 %}<span class="cm-tab inline-block w-4"></span>{% endfor %}
                {% if node.type == 'folder' %}
                    <i class="cm-folder cm-action-open fas fa-folder"></i>
                    <i class="cm-folder cm-action-close fas fa-folder-open"></i>
                {% else %}
                    <i class="cm-file far fa-file"></i>
                {% endif %}
                <span class="cm-text _text-xs px-1">{{ node.name }}</span>
            </div>
            
            {% if node.children is defined %}
                {{ _s.tree(node.children,1) }}
            {% endif %}
        </li>
        
    {% else %}

        <li {# id="cm-node-template" #} class="cm-noselect cm-template" {# data-hid="%%hid%%"#} data-status="0">
            <div class="cm-line px-3 _truncate whitespace-nowrap" title="%%name%%">
                <span class="cm-tab inline-block w-4"></span>
                <i class="cm-folder cm-action-open fas fa-folder"></i>
                <i class="cm-folder cm-action-close fas fa-folder-open"></i>
                <i class="cm-file far fa-file"></i>
                <span class="cm-text _text-xs px-1">%%name%%</span>
            </div>
        </li>
        
    {% endif %}
{% endmacro %}

{# --- --- --- --- --- --- --- --- --- --- #}
{% macro tree(nodes,isNotTop) %}
    {% import _self as _s %}

    <ul{% if not isNotTop %} class="cm-root cm-noselect"{% endif %}>
        {% for node in nodes %}
            {{ _s.node(node) }}
        {% endfor %}
    </ul>
{% endmacro %}