{% macro project(data) %}
    <a id="cm-project-{% if data %}{{ data.name|replace({' ':'_'}) }}{% else %}template{% endif %}" href="{{ constant('CM_WHOME') }}project/{{ data.name }}" class="cm-project m-2 cursor-pointer bg-gray-200 rounded flex flex-col" onclick="event.preventDefault()" ondblclick="document.location=this.href">
        <div class="bg-gray-300 flex p-1 rounded-t">
            <div class="cm-name truncate" title="{{ data.name }}">
                {{ data.name }}
            </div>
            <div class="cm-del text-white hover:text-gray-600 duration-75 py-1 px-2 mr-0 ml-auto">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="cm-spinner flex-grow flex">
            <i class="m-auto text-gray-300 fas fa-4x fa-spin fa-spinner"></i>
        </div>
    </a>
{% endmacro project %}
