{% import "project.twig" as _project %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {# <meta name="local.requiredField" content="{{ local.requiredField }}"/> #}
        <meta name="local.qDelProject" content="{{ local.qDelProject }}"/>

        <title>Raw Editor v{{ version }}</title>
        <link rel="stylesheet" type="text/css" href="res/tailwind/tailwind.min.css" >
        <link rel="stylesheet" type="text/css" href="res/fontawesome.com/5.15.2/css/all.css"/>
        <link rel="stylesheet/less" type="text/css" href="res/res/main.less" >
        <script type="text/javascript" src="res/lesscss.org/3.7.1/less.min.js"></script>
    </head>
    <body>
        <header class="bg-gray-600 text-white h-10 fixed top-0 left-0 right-0">
            <div class="container mx-auto flex h-full">
                <div class="my-auto mr-auto pl-5 font-bold">{{ local.projects|capitalize }}</div>
                <div class="pr-5">
                    <div class="cm-add h-full flex px-4 cursor-pointer hover:bg-gray-500 duration-75" title="{{ local.addProject }}">
                        <i class="my-auto fas fa-plus"></i>
                    </div>
                </div>
            </div>
        </header>

        <div class="flex mt-10 mb-6">
            <div id="cm-projects" class="container mx-auto px-3 flex justify-center flex-wrap">

                {{ _project.project() }}

                {% for project in projects %}
                    {{ _project.project(project) }}
                {% endfor %}

            </div>
        </div>

        <footer class="bg-gray-600 text-white text-xs h-6 fixed bottom-0 left-0 right-0"">
            <div class="container mx-auto px-5 flex h-full">
                <div class="m-auto">Raw Editor &copy; <span>v{{ version }}</span> by {{ author }}</div>
            </div>
        </footer>

        <div id="cm-add-project" class="cm-wp fixed inset-0">
            <div class="flex fixed inset-0 bg-gray-800 bg-opacity-0 duration-1000">

            <div class="cm-panel m-auto bg-white flex flex-col p-5 rounded">
                <div class="cursor-pointer flex justify-end">
                    <div class="cm-close hover:text-gray-500 duration-75 p-1">
                        <i class="fas fa-times"></i>
                    </div>
                </div>

                <span class="text-2xl absolute">{{ local.newProject|capitalize }} </span>

                <form id="cm-project-form" class="flex flex-col mb-0" method="post" action="res/res/post.php">
                    <input name="m" type="hidden" value="add"/>

                    <input name="name" required="required" class="mt-6 mb-2 px-2 py-2 border _border-transparent
                        focus:outline-none focus:ring-2 focus:ring-grey-600 focus:border-transparent placeholder-grey-400" 
                        placeholder="name"
                        {# oninvalid="this.setCustomValidity('{{ local.requiredField }}')" oninput="setCustomValidity('')" #}
                    />

                    <input name="path" type="text" required="required" class="mt-2 mb-6 px-2 py-2 border _border-transparent 
                        focus:outline-none focus:ring-2 focus:ring-grey-600 _focus:border-transparent placeholder-grey-400" 
                        placeholder="path"
                        {# oninvalid="this.setCustomValidity('{{ local.requiredField }}')" oninput="setCustomValidity('')" #}
                    />

                    <div class="flex">
                        <button class="mx-auto py-2 px-6 bg-green-300 text-white font-semibold rounded-sm shadow-md hover:bg-green-500 focus:outline-none duration-75">{{ local.add }}</button>
                    </div>
                </form>

            </div>
            </div>

        </div>

        <div id="cm-error" class="cm-wp fixed inset-0 flex _hidden">
            <div class="flex w-screen h-screen opacity-0 duration-300">
                <div class="cm-text m-auto bg-red-300 bg-opacity-80 text-white p-5 w-full text-center"></div>
            </div>
        </div>

        <div id="cm-confirm" class="cm-wp fixed inset-0 flex _hidden">
            <div class="w-screen h-screen opacity-0 duration-200 flex flex-col">
                <div class="m-auto bg-blue-400 bg-opacity-80 text-white p-5 w-full text-center">
                    <div class="cm-text"></div>
                    <div class="flex mt-5">
                        <button class="cm-yes ml-auto mr-4 py-2 px-6 bg-green-300 text-white font-semibold rounded-sm shadow-md hover:bg-green-500 focus:outline-none duration-75">{{ local.yes }}</button>
                        <button class="cm-no mr-auto ml-4 py-2 px-6 bg-red-300 text-white font-semibold rounded-sm shadow-md hover:bg-red-500 focus:outline-none duration-75">{{ local.no }}</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript" src="res/jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="res/res/main.js"></script>
</html>
