{% extends "common.twig" %}

{% block name %}{{ name }}{% endblock %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="res/res/project.less"/>
{% endblock %}

{% block js %}
    <script type="module" src="res/jquery.com/plugin/jquery-resizable.js"></script>
    <script type="module" src="res/res/project.js"></script>
{% endblock %}

{% block actions %}
    <button type="button" class="cm-save h-full flex px-2 py-2 cursor-pointer _hover:bg-gray-500 duration-75" title="{{ local.project.save }}" disabled1="disabled1">
        <i class="my-auto fas fa-save"></i>
    </button>
    <button type="button" class="cm-expand h-full flex px-2 py-2 cursor-pointer _hover:bg-gray-500 duration-75" title="{{ local.project.save }}" disabled1="disabled1">
        <i class="my-auto fas fa-expand"></i>
    </button>
{% endblock %}

{% block main %}
    {% import _self as _s %}

    <div class="cm-project bg-white container mx-auto flex h-full" data-name="{{ name }}">
        <div class="cm-project-direct w-11 flex flex-col bg-gray-600 text-white">
            <i class="cm-action-tree fas fa-sitemap p-3 hover:bg-gray-400 duration-75" title="{{ local.project.tree }}"></i>
            <i class="fas fa-user-friends p-3 hover:bg-gray-400 duration-75"></i>
        </div>
        <div class="cm-project-tree bg-gray-700 text-white py-2 _px-3 duration-75 overflow-y-auto w-52">
            {{ _s.tree(tree) }}
        </div>
        <div class="cm-splitter w-3"></div>
        <div class="bg-green-500">332e3e3/</div>
    </div>
{% endblock %}

{% macro tree(nodes,isNotTop) %}
    {% import _self as _s %}

    <ul class="{% if not isNotTop %}cm-root{% endif %}">
    {% for node in nodes %}
        <li class="cm-noselect"{% if node.children is defined %} data-status="{% if node.children|length %}1{% else %}0{% endif %}"{% endif %}>
            <div class="cm-line px-3 truncate">
                {% for i in range(0,node.level) if i>0 %}<span class="inline-block w-4"></span>
                {% endfor %}
            {% if node.children is defined %}
                <i class="cm-action cm-action-open fas fa-folder"></i>
                <i class="cm-action cm-action-close fas fa-folder-open"></i>
            {% else %}
                <i class="far fa-file"></i>
            {% endif %}

            <span class="_text-xs px-1" title="{{ node.name }}">{{ node.name }}</span>
            </div>
            {% if node.children|length %}
                {{ _s.tree(node.children,1) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}
